* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.leftMenu > * {
  width: auto;
}

.wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  border: lightgray solid 1px;
}

.box {
  box-sizing: border-box;
}

.randomColor {
  display: flex;
}

button {
  padding: 3px;
}

input {
  width: 20%;
}

input#color {
  border: none;
  background: none;
}