* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  border: black solid 1px;
}

.box {
  box-sizing: border-box;
}